<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta name="theme-color" content="#303030">
    <link rel="icon" type="image/png" href="<%= require('confassets/sojourner-icon-56.png') %>" sizes="56x56">
    <link rel="icon" type="image/png" href="<%= require('confassets/sojourner-icon-112.png') %>" sizes="112x112">
    <link rel="icon" type="image/png" href="<%= require('confassets/sojourner-icon-192.png') %>" sizes="192x192">
    <link rel="icon" type="image/png" href="<%= require('confassets/sojourner-icon-224.png') %>" sizes="224x224">
    <link rel="icon" type="image/png" href="<%= require('confassets/sojourner-icon-512.png') %>" sizes="512x512">
    <link rel="apple-touch-icon" href="<%= require('confassets/sojourner-icon-180.png') %>" sizes="180x180">
    <link rel="manifest" href="/assets/manifest.json">
    <title>Sojourner</title>
    <base target="_blank">
    <% if (htmlWebpackPlugin.files.chunks.preload) { %>
    <link rel="preload" as="style" href="<%= htmlWebpackPlugin.files.chunks.preload.css %>">
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.chunks.preload.css %>">
    <% } %>
    <link rel="preconnect" href="https://firebasestorage.googleapis.com">

    <link rel="preload" as="font" type="font/woff2" href="/fonts/roboto-condensed-latin-400.woff2" crossorigin>
    <link rel="preload" as="font" type="font/woff2" href="/fonts/roboto-condensed-latin-700.woff2" crossorigin>
    <link rel="preload" as="font" type="font/woff2" href="/fonts/MaterialIcons-Regular.woff2" crossorigin>
    <link rel="preload" as="font" type="font/woff2" href="/fonts/rubik-latin-300.woff2" crossorigin>
    <link rel="preload" as="font" type="font/woff2" href="/fonts/rubik-latin-400.woff2" crossorigin>
    <link rel="preload" as="font" type="font/woff2" href="/fonts/rubik-latin-500.woff2" crossorigin>

    <link rel="prefetch" href="<%= require('confassets/dashboard.jpg') %>">
  </head>
  <body>
    <div id="app">
      <div class="middle">
        <div class="spinner"></div>
      </div>
    </div>
    <% for (var chunk in htmlWebpackPlugin.files.js) { %>
    <script src="<%= htmlWebpackPlugin.files.js[chunk] %>"></script>
    <% } %>
  </body>
</html>
