body {
  background-color: #303030;
  color: #fff;
}

html, body {
  overscroll-behavior-y: contain;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}


/* Spinner */

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  width: 150px;
  height: 150px;
  background-image: url(~assets/logo-small-inner.png);
}

.spinner::before {
  content: '';
  position: absolute;
  width: 150px;
  height: 150px;
  animation: spin 4000ms linear infinite;
  background-image: url(~assets/logo-small-outer.png);
}
