@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  width: 150px;
  height: 150px;
  background-image: url("./logo-small-inner.png");
}

.spinner::before {
  content: '';
  position: absolute;
  width: 150px;
  height: 150px;
  animation: spin 4000ms linear infinite;
  background-image: url("./logo-small-outer.png");
}
